@using BlazorServer.Models
@inject IdentityInformation _identity;
@inject NavigationManager NavigationManager


@* <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <BlazorServer.Pages.Login.Index />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <AuthorizeView>
                <Authorized>
                    <BlazorServer.Pages.Index />
                </Authorized>
                <NotAuthorized>
                    <BlazorServer.Pages.Login.Index />
                </NotAuthorized>
            </AuthorizeView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> *@

@* Verificar quando o usuario não tiver mais os tokens, e redirecionar ele para login, e também quando estiver logado não permitir ir para pagina de login, e quando não estiver logado ir sempre para a pagina de login *@
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @* <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" > *@
            <AuthorizeRouteView RouteData="@routeData"  >
                <NotAuthorized>
                    <BlazorServer.Pages.RedirectError />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Pagina não encotrada, redicionar para o login se não estiver logado, se estiver redirecionar para pagina home.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    // [Parameter]
    // public InitialApplicationState? InitialState { get; set; }

    // protected override void OnInitialized()
    // {
    //     _identity.UserName = InitialState?.UserName;
    //     _identity.IsAuthenticated = InitialState.IsAuthenticated;
    // }
}